#prestore{
    
    .rightBar{
        // border-right: 4px solid #e4e4e4;

        .basicInfo{
            background: url('/images/basic.png') no-repeat 0px center;
            box-sizing: border-box;
            padding-left: 20px;
        }

        .chargeInfo{
            background: url('/images/charge.png') no-repeat 0px center;
            box-sizing: border-box;
            padding-left: 20px;
        }

        .totalInfo{
            background: url('/images/total.png') no-repeat 0px center;
            box-sizing: border-box;
            padding-left: 20px;
        }
    }

    .leftBar{

        .empty_link{

            float:right;
            margin:9px 23px 0px 0px;
            display: block;

            &:hover{
                text-decoration: underline!important;
            }
        }
    }

    .basic{
        padding-top: 10px;

        .list-group-item{
            border: none;
            text-align: left;
            width: 50%;
            float: left;
            padding: 5px 8px;
        }

        .receipts{
            margin-top: 15px;
        }

        .panel{
            margin-bottom: 15px;
        }

        .Htbody{
            display:block; 
            max-height:310px;
            overflow-y: auto;
            position: relative;
        }
        
        .Ctbody{
            display:block; 
            max-height:286px;
            overflow-y: auto;
            position: relative;
        }
    }

    .chartRow{
        justify-content:space-around;
        height: 308px;
        width:100%;
        display: flex;
        flex-direction:row;

        .chartDiv{
            height: 250px;
            width: 250px;
        }

    }
}

#chargeRecond{
    .basic{
        padding-top: 20px;
    }
}

#chargePaper{
    .basic{
        padding-top: 20px;
    }
}

#prestoreRecond{

    .basic{
        padding-top: 20px;
    }
}

#cancelRecond{
    .basic{
        padding-top: 20px;
    }
}

#prestoreAnalysis{
    .basic{
        padding-top: 20px;
    }
}

#receiveAnalysis{
    .basic{
        padding-top: 20px;
    }
}

//菜单布局
.menu{
    padding: 10px 0px 10px 20px;
    border-bottom: 4px solid #e4e4e4;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    width: 100%;
    box-sizing: border-box;

    .menu_item{
        flex: none;
        margin-right: 30px;
    }
}

.panel-heading{
    text-align: left;
    padding: 2px 10px;
}

h4{
    font-weight: bold;
}

.title{
    font-size: 20px;
}

.text{
    font-size: 20px;
}

.title_16{
    font-size: 16px;
}

.text_16{
    font-size: 16px;
}

#receipts{
    width: 200px;
}

.textLeft{
    text-align: left;
}

canvas{
    margin-bottom: 20px;
}

.red{
    color: #FF0000;
}

.table{
    margin-bottom: 10px;
}

th{
    text-align: center;
}

.pagination{
    float: right;
    
    li{
        float: left;
    }
}


