.nav{
    width: 100%;
    height: 60px;
    background: #296685;
    // position: fixed;
    // top: 0px;
    // z-index: 999;
    // border-bottom: 4px solid #cccccc;

    .nav_content{
        height: 60px;
        margin: 0 auto;
        padding-top: 30px;
        box-sizing: border-box;
        display: block;
        width: 916px;
        
        .nav_link_item{
            width:130px;
            height: 30px;
            float: left;
            display: block;
            box-sizing: border-box;
            text-align: center;

            &:hover{
                border-bottom: 4px solid #0099cc;
            }


            a.topLink{
                color: #fff;
                display: block;
                width: 100%;
                height: 100%;
                font-size: 16px;
                position: relative;
            }
        }

        .active{
            border-bottom: 4px solid #0099cc;
        }

        .line{
            color: #fff;
            display: block;
            float: left;
            width: 1px;
        }
    }
}
.tab-content{
    // margin-top: 60px;
    margin-bottom: 50px;
    position: relative;

    .slide{
        width: 200px;
        height: 100%;
        box-sizing: border-box;
        border-top:4px solid #e4e4e4;
        border-right: 4px solid #e4e4e4;
        position: fixed;

        .slide_ul{
            width: 100%;
            height: 100%;

            .active{
                .topLink{
                    color: #0066cc!important;
                    background: url('/images/water.png') no-repeat 15px center;
                }


            }

            .slide_link_item{
                width: 100%;
                height: 45px;
                box-sizing: border-box;
                border-bottom: 1px solid #cccccc;

                .topLink{
                    color: #666;
                    display: block;
                    width: 100%;
                    height: 100%;
                    font-size: 16px;
                    text-align: center;
                    line-height: 45px;
                    font-weight: 500;

                    &:hover{
                        background-color: #d5e8fc;
                    }
                }
            }
        }
    }

    .content{
        margin-left: 200px;
        height: 100%;
        box-sizing: border-box;
        border-top:4px solid #e4e4e4;

        .active{
            display: block!important;
        }

        .tab-pane{
            display: none;
            text-align: center;
        }
    }
}

.jedateblue .daybox .arthead{
    background-color: #0066cc!important;
}

.jedateblue .mainfoot .btnscon span{
    background-color: #0066cc!important;
}

.jedateblue .daysul td.actdate, .jedateblue .daysul td.actdate:hover, .jedateblue .daysul td.actdate .lunar{
    background-color: #0066cc!important;
}

.jedateblue .daysul td.other, .jedateblue .daysul td.other .nolunar, .jedateblue .daysul td.other .lunar{
    color:#6d9add!important;
}

.jedateblue .ymsbox .ymcon td.actdate, .jedateblue .ymsbox .ymcon td.actdate:hover{
    background-color: #0066cc!important;
}

.jedateblue .ymsbox .arthead{
    background-color: #0066cc!important;
}

.jedateblue .daybox .arthead em:hover{
    background-color: #6d9add!important;
}

.jedateblue .daybox .arthead .ymbtn:hover{
    background-color: #6d9add!important;
}