*{margin:0;padding:0;font-family: '微软雅黑';}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none!important;
}

img{
    border-style:none;
}

a:focus{
    outline:none !important;
    text-decoration: none!important;
}

/*清除浮动*/
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

.clearfix {
    zoom: 1;
}


li{
  list-style: none;
}

body{
    position: relative;
    height: 100%;
}

html{
    height: 100%;
}